* {
  font-size: 13px;
  min-height: 0;
  margin: 0;
  padding: 0;
}

#waybar {
  background-color: #000000;
  color: #d0d0d0;
  margin: 0px;
  font-weight: 500;
}

#workspaces {
  background-color: transparent;
  padding: 2px;
  margin-left: 7px;
  margin-right: 5px;
  min-width: 0;
  border: none;
  transition: color 0.2s ease-in-out;
}

#workspaces button {
  color: #d0d0d0;
  padding: 2px 6px;
  background: transparent;
  transition: color 0.2s ease-in-out;
  border: none;
  outline: none;
}

#workspaces button.active {
  color: #ffffff;
  font-weight: 600;
}

#workspaces button:hover {
  color: #ffffff;
}

#clock {
  background-color: transparent;
  padding: 2px 6px;
  margin: 1px 0px;
  min-width: 0;
  border: none;
  transition: color 0.2s ease-in-out;
  color: #e0e0e0;
}

#pulseaudio,
#backlight,
#network,
#battery {
  background-color: transparent;
  padding: 2px 6px;
  margin: 1px 0px;
  min-width: 0;
  border: none;
  transition: color 0.2s ease-in-out;
  color: #d0d0d0;
}

#pulseaudio:hover,
#backlight:hover,
#network:hover,
#battery:hover {
  color: #ffffff;
}

#network.disconnected {
  color: #b0b0b0;
}

#battery.charging {
  color: #d0d0d0;
}

#battery.warning:not(.charging) {
  color: #ffffff;
}

tooltip {
  background-color: #000000;
  color: #d0d0d0;
  padding: 4px 8px;
  margin: 0px;
  border: none;
  box-shadow: none;
  font-size: 12px;
}